body {
  margin: 0px;
  padding: 0px;
}
/* --------------------------------nav--------------------- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 10rem;
  box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
}
.nav-bar img {
  height: 5rem;
}
.nav-bar button {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 0.5rem 2.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
.nav-bar button:hover {
  background-color: rgb(200, 200, 200);
}

/* -------------------- model ----------------- */
.model{
  display: none;
  justify-content: center;
  position: absolute;
  padding-top: 5rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.statement{
  position: absolute;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 3rem;
}
.statement button{
  margin-left: 98%;
  margin-bottom: 1rem;
  padding: 0.5rem 0.7rem;
  border:1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 900;
}
.statement button:hover{
  background-color: white;
  color: black;
}
.statement-heading-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.statement-heading{
  font-size: 2rem;
}
#statement{
  border-collapse: collapse;
}
.statement-table th{
border: 2px solid rgb(141, 141, 141);
padding: 10px;
margin: 0px;
text-align: center;
}
.statement-table td{
  color: rgb(0, 65, 65);
border: 2px solid rgb(141, 141, 141);
padding: 1rem 3rem;
margin: 0px;
text-align: center;
}

/* ----------------------- main -------------------- */
.main-container {
  margin: 5rem 10rem;
}
.main-heading {
  font-size: 3rem;
}

#transactionMessage{
  font-weight: 600;
  position: fixed;
  top: 10rem;
  width: 100vw;
  text-align: center;
}

.tabs-container {
  display: flex;
  background-color: rgb(232, 253, 253);
  border: 2px solid rgb(209, 209, 209);
}

.tabs {
  border-right: 2px solid rgb(209, 209, 209);
  margin: 0px;
  padding: 0px;
  min-height: 45vh;
  min-width: 35vh;
}
.tab-link {
  margin: 1rem 0px;
  margin-top: 2.5rem;
  padding: 0.5rem 1rem;
  padding-right: 8rem;
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: start;
}
.active-tab {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-right: 5px solid orangered;
  border-radius: 2px;
  color: orange;
  font-weight: bolder;
  box-shadow: 1px 1px 4px 1px gray;
}
.tab-content-container {
  margin: 1rem 3rem;
  width: 100%;
}
.sub-tab{
    margin: 1rem 0rem;
}
.sub-tab-open{
  transform: rotate(180deg);
  margin: 1rem;
}

.sub-tab summary {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  background-color: white;
}
.sub-tab summary span{
  display: flex;
}
.sub-tab-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0px;
  padding: 2rem 3rem;
  border-top: 2px solid rgb(209, 209, 209);
}
.sub-tab-content button{
    margin: 1rem 0px;
}

/* --------------------------------- transer fund -------------------- */
.transfer-fund-table{
  width: 100%;
  padding-right: 25rem;
}
.transfer-form-pair{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
  font-size: 1.5rem; 
  color: gray;
}
.transfer-form-pair input,select,textarea{
  border: 1px solid rgb(185, 185, 185);
  border-radius: 8px;
  background-color: white;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  height: 2rem;
  width: 25rem;
  padding: 1rem 1rem;
}
.transfer-form-pair td{
  margin: auto;
}
.transfer-form-pair select{
  width: 27rem;
  height: 3.5rem;
}
.transfer-form-pair textarea{
  height: 4rem;
  margin-left: 6rem;
}
.transfer-form-buttons{
  display: flex;
  justify-content: center;
}
.transfer-form-buttons button{
  margin: 1rem;
  padding: 0.5rem 1rem;
}

#transferFund {
  display: none;
}
